<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood</title>
    <!-- <link rel="stylesheet" href="bloodhome.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <%- include('css/DonorHome'); %>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> -->
</head>
<body>
    <!-- blood home page corousel -->
<!-- <section class="corousel">
    <div class="slider">
        <div class="slide active">
          <img src="images\corousel1.jpeg" alt="corousel1">
        </div>
        <div class="slide">
          <img src="images\corousel2.jpeg" alt="corousel2">
        </div>
        <div class="slide">
          <img src="images\corousel3.jpeg" alt="corousel3">
        </div>

        <div class="navigation">
          <i class="fas fa-chevron-left prev-btn"></i>
          <i class="fas fa-chevron-right next-btn"></i>
        </div>
        <div class="navigation-visibility">
          <div class="slide-icon active"></div>
          <div class="slide-icon"></div>
          <div class="slide-icon"></div>
        </div>
      </div>
    </section> -->

      <!-- <nav class="upper-nav"> -->

        <div class="navsec">
          <nav class="navsection">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
              <i class="fas fa-bars"></i>
            </label>
            <label class="logo"><img class="logoimg" src="images/logo.png" alt="Jeevan Maitree" width="120" height="90"></label>
            <ul class="navul">
              <li class="navli"><a class="active nava" href="/">HOME</a></li>
            <li class="navli"><a class="nava" href="/">SERVICES</a></li>
            <li class="navli"><a class="nava" href="/">TRACK</a></li>
            <li class="navli"><a class="nava" href="/joinOurTeam">JOIN OUR TEAM</a></li>
            <li class="navli"><a class="nava" href="#">REVIEW</a></li>
            <li class="navli"><a class="nava" href="/contactUs">CONTACT US</a></li>
            </ul>
          </nav>
        </div>



       <!-- blood home page corousel -->
<!-- <section class="corousel">
    <div class="slider">
        <div class="slide active">
          <img src="images\corousel1.jpeg" alt="corousel1">
        </div>
        <div class="slide">
          <img src="images\corousel2.jpeg" alt="corousel2">
        </div>
        <div class="slide">
          <img src="images\corousel3.jpeg" alt="corousel3">
        </div>

        <div class="navigation">
          <i class="fas fa-chevron-left prev-btn"></i>
          <i class="fas fa-chevron-right next-btn"></i>
        </div>
        <div class="navigation-visibility">
          <div class="slide-icon active"></div>
          <div class="slide-icon"></div>
          <div class="slide-icon"></div>
        </div>
      </div>
    </section> -->

      <!-- <nav class="upper-nav"> -->

        <section class="reasons">
          <img class="bg" src="images\cells.jpeg" alt="" class="background">
          <div class="reason-img">
          <img src="images\blood.gif" alt="blood animation">
        </div>
  
        <div class="text_animation">
          <img src="images\text.gif" alt="">
        </div>
  
          <!-- <div class="reason-points">
          <h3>Why To Donate Blood?</h3>
          <p>1) Reduces risk of heart attacks and liver ailment.</p>
          <p>2) Lower the risk of cancer.</p>
          <p>3) New blood cells.</p>
          <p>4) Reduced risk of hemochromatosis.</p>
          <p>5) Helps prevent premature ageing.</p>
          <p>6) Speeds up healing process.</p>
          <p>7) Lower cholesterol level.</p>
          <p>8) Maintain Weight.</p>
          <p>9) Free Medical checkup.</p>
          <p>10) Live a longer life.</p>
          <p>11) Psychological Upliftment.</p>
          <p>12) Blood storage.</p>
          <p>13) Save lives.</p>
        </div> -->
      </section>
  
      <!-- blood home page cards -->
  
      <section class="cards">
        
       <div class="box">
        
          <div class="card">
            <a href="/hospitalblood">
            <div class="imgBx">
                <img src="images\blood1.jpeg" alt="blood availability search">
            </div>
            <div class="details">
                <h2>Check availability of blood across blood banks</h2>
            </div>
          </a>
          </div>
        
           <div class="card">
             <div class="imgBx">
                <img src="images\blood2.jpeg" alt="Blood camp registeration">
             </div>
             <div class="details">
                <h2>Live Blood Donation Camps</h2>
              </div>
           </div>
    
           <div class="card">
            <a href="/DonorLog">
             <div class="imgBx">
                <img src="images\blood3.jpeg" alt="Donor Login">
             </div>
             <div class="details">
                <h2>Donor Login</h2>
              </div>
            </a>
           </div>
  
           <div class="card">
            <a href="/bloodCampReg">
              <div class="imgBx">
                <img src="images\blood4.jpeg" alt="images">
             </div>
             <div class="details">
                <h2>Blood Camp Registration</h2>
              </div>
            </a>
             
            </div>
     
      </div>
  </section>
<footer>
  <div class="footer_container">
    <div class="sec footer_aboutus">
      <h2>Who are We</h2>
      <!-- <img src="Frame 15.png" alt=""> -->
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta voluptatem officiis ullam praesentium
        minima tenetur nesciunt quidem ab facilis quo!</p>
      <ul class="footer_sci">
        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa-solid fa-envelope"></i></a></li>
      </ul>
    </div>
    <div class="sec footer_quicklinks">
      <h2>Quick Links</h2>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/">Services</a></li>
        <li><a href="#">Track</a></li>
        <li><a href="/joinOurTeam">Join Our Team</a></li>
        <li><a href="#">Review</a></li>
      </ul>
    </div>

    <div class="sec footer_quicklinks">
      <h2>Services</h2>
      <ul>
        <li><a href="#">Bed Availability</a></li>
        <li><a href="/DonorHome">Blood Bank</a></li>
        <li><a href="/bookApp">Book Appointment</a></li>
        <li><a href="#">24/7 Ambulance</a></li>
      </ul>
    </div>
    <div class="footer_sec_contact">
      <h2>Contact Us</h2>
      <ul class="footer_contact_info">
        <li>
          <span><i class="fa-solid fa-location-dot"></i></span>
          <span> P.O. Tilwara Ghat, Near Bargi Hills, <br>
            Jabalpur, Madhya Pradesh 482003</span>
        </li>

        <li>
          <span><i class="fa-solid fa-phone"></i></span>
          <p><a href="tel:+12345678900">098935 56449</a>
          </p>
        </li>

        <li>
          <span><i class="fa-solid fa-envelope"></i></span>
          <p><a href="mailto:jeevanmaitree@gmail.com">jeevanmaitree@gmail.com</a></p>
        </li>
      </ul>
    </div>

  </div>
</footer>
<div class="footer_copyrightText">
  <p>Copyright © 2022-JEEVAN MAITREE. All Rights Reserved.</p>
</div>
<script type="text/javascript">
    const slider = document.querySelector(".slider");
    const nextBtn = document.querySelector(".next-btn");
    const prevBtn = document.querySelector(".prev-btn");
    const slides = document.querySelectorAll(".slide");
    const slideIcons = document.querySelectorAll(".slide-icon");
    const numberOfSlides = slides.length;
    var slideNumber = 0;

    //image slider next button
    nextBtn.addEventListener("click", () => {
      slides.forEach((slide) => {
        slide.classList.remove("active");
      });
      slideIcons.forEach((slideIcon) => {
        slideIcon.classList.remove("active");
      });

      slideNumber++;

      if(slideNumber > (numberOfSlides - 1)){
        slideNumber = 0;
      }

      slides[slideNumber].classList.add("active");
      slideIcons[slideNumber].classList.add("active");
    });

    //image slider previous button
    prevBtn.addEventListener("click", () => {
      slides.forEach((slide) => {
        slide.classList.remove("active");
      });
      slideIcons.forEach((slideIcon) => {
        slideIcon.classList.remove("active");
      });

      slideNumber--;

      if(slideNumber < 0){
        slideNumber = numberOfSlides - 1;
      }

      slides[slideNumber].classList.add("active");
      slideIcons[slideNumber].classList.add("active");
    });

    //image slider autoplay
    var playSlider;

    var repeater = () => {
      playSlider = setInterval(function(){
        slides.forEach((slide) => {
          slide.classList.remove("active");
        });
        slideIcons.forEach((slideIcon) => {
          slideIcon.classList.remove("active");
        });

        slideNumber++;

        if(slideNumber > (numberOfSlides - 1)){
          slideNumber = 0;
        }

        slides[slideNumber].classList.add("active");
        slideIcons[slideNumber].classList.add("active");
      }, 4000);
    }
    repeater();

    //stop the image slider autoplay on mouseover
    slider.addEventListener("mouseover", () => {
      clearInterval(playSlider);
    });

    //start the image slider autoplay again on mouseout
    slider.addEventListener("mouseout", () => {
      repeater();
    });
    </script>
  </body>
</body>
</html>