<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="index2.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity=
"sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous">
</script>  -->

 <script src=
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity=
"sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous">
</script>
    
       
    <title>Document</title>
    <%- include('css/joinOurTeam'); %>

</head>
<body >
    <div class="navsec">
        <nav class="navsection">
          <input type="checkbox" id="check">
          <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
          </label>
          <label class="logo"><img class="logoimg" src="images/logo.png" alt="Jeevan Maitree" width="120" height="90"></label>
          <ul class="navul">
            <li class="navli"><a class="active nava" href="/">HOME</a></li>
            <li class="navli"><a class="nava" href="/">SERVICES</a></li>
            <li class="navli"><a class="nava" href="/">TRACK</a></li>
            <li class="navli"><a class="nava" href="/joinOurTeam">JOIN OUR TEAM</a></li>
            <li class="navli"><a class="nava" href="#">REVIEW</a></li>
            <li class="navli"><a class="nava" href="/contactUs">CONTACT US</a></li>
          </ul>
        </nav>
        </div>
   
  
    <div class="content">
           <section class="s2">
             <div class="container">
                <div class="contain-1">
                            <h1 class="h-1">JOIN OUR</h1>
                            <h1 class="h-2">TEAM</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur laboriosam fugit, totam corporis eum voluptatibus dolores, tempore molestiae soluta sequi asperiores ipsum sit ipsam aspernatur?</p>
                            <div class="buttons">
                                    <div class="action_btn">
                                        <div class="inner_btn_cont">
                                            <a id="btn1"href="/" >Our Services</a> 
                                        </div>
                                        <div class="inner_btn_cont">
                                            <a id="btn2"href="/contactUs">Contact Us</a>
                                        </div>
                                       
                                           
                                        
                                       
                                       
                                           
                                        
                                       
                                    </div>
                             
                    
                            </div>
                </div>
                <div class="contain-2">
                        <img src="login.png">
                </div>
             </div>
                
           </section>



           <footer>
            <div class="footer_container">
              <div class="sec footer_aboutus">
                <h2>Who are We</h2>
                <!-- <img src="Frame 15.png" alt=""> -->
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta voluptatem officiis ullam praesentium
                  minima tenetur nesciunt quidem ab facilis quo!</p>
                <ul class="footer_sci">
                  <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa-solid fa-envelope"></i></a></li>
                </ul>
              </div>
              <div class="sec footer_quicklinks">
                <h2>Quick Links</h2>
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/">Services</a></li>
                  <li><a href="#">Track</a></li>
                  <li><a href="/joinOurTeam">Join Our Team</a></li>
                  <li><a href="#">Review</a></li>
                </ul>
              </div>
        
              <div class="sec footer_quicklinks">
                <h2>Services</h2>
                <ul>
                  <li><a href="#">Bed Availability</a></li>
                  <li><a href="/DonorHome">Blood Bank</a></li>
                  <li><a href="/bookApp">Book Appointment</a></li>
                  <li><a href="#">24/7 Ambulance</a></li>
                </ul>
              </div>
              <div class="footer_sec_contact">
                <h2>Contact Us</h2>
                <ul class="footer_contact_info">
                  <li>
                    <span><i class="fa-solid fa-location-dot"></i></span>
                    <span> P.O. Tilwara Ghat, Near Bargi Hills, <br>
                      Jabalpur, Madhya Pradesh 482003</span>
                  </li>
        
                  <li>
                    <span><i class="fa-solid fa-phone"></i></span>
                    <p><a href="tel:+12345678900">098935 56449</a>
                    </p>
                  </li>
        
                  <li>
                    <span><i class="fa-solid fa-envelope"></i></span>
                    <p><a href="mailto:jeevanmaitree@gmail.com">jeevanmaitree@gmail.com</a></p>
                  </li>
                </ul>
              </div>
        
            </div>
          </footer>
          <div class="footer_copyrightText">
            <p>Copyright © 2022-JEEVAN MAITREE. All Rights Reserved.</p>
          </div>



           <!-- footer section -->
          

<!--     
    <script>
  
        /* Code for changing active 
        link on clicking */
        var btns = 
            $(".navigation_bar .menu .nav-link");

        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click",
                                  function () {
                var current = document
                .getElementsByClassName("active");
                if(i!=1){
                   

current[0].className = current[0]
    .className.replace(" active", "");

this.className += " active";
                }
                  
            });
        }

        /* Code for changing active 
        link on Scrolling */
        $(window).scroll(function () {
            var distance = $(window).scrollTop();
            $('.page-section').each(function (i) {

                if ($(this).position().top 
                    <= distance + 250) {
                      
                        $('.menu a.active')
                            .removeClass('active');

                        $('.menu a').eq(i)
                            .addClass('active');
                }
            });
        }).scroll();
    </script> -->
    
     <!-- this is for the sticky nav bar -->
     <script>
        // When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the navbar
var navbar = document.getElementById("navi");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
     </script>
</body>
</html>